@page "/ContactPage"

<div style="width:50%;">
  <p>We are located in</p>
  <address>
    address, city , country
  </address>
</div> 

<div style="width:50%;">
  <ebs2.CotactComponents.ContactFormComponent>
  </ebs2.CotactComponents.ContactFormComponent>    
</div> 


