<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/page1">
                Basic page 1
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/page2">
                Basic page 1
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/advancedpage1">
                Advanced page 1
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/advancedpage1/testparam">
                Advanced page 1 with parameter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/advancedpage2">
                Advanced page 2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/advancedpage2/testparam">
                Advanced page 2 with params
            </NavLink>
        </li>
                <li class="nav-item px-3">
            <NavLink class="nav-link" href="/componentExample">
                Component Example
            </NavLink>
        </li>
    </ul>
</div>